<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Modelo</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Modelo</mat-label>
          <input
            matInput
            placeholder="idPertenenciasModelo"
            formControlName=" idPertenenciasModelo"
          />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="namePertenenciasModelo"
            formControlName="namePertenenciasModelo"
          />
          <mat-error
            *ngIf="obtenerControlCampo('namePertenenciasModelo')?.errors?.['required']"
          >
            El Nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />

        <button mat-raised-button style="background-color: green; color: white;">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/components/PertenenciaModelo">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
