<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listar Tipo Caso</title>
  </head>
  <body>
    <div class="container">
      <h2>Lista de Tipo Caso</h2>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>Id. Tipo Caso</th>
          <td mat-cell *matCellDef="let element">{{ element.idTipoCaso }}</td>
        </ng-container>

        <ng-container matColumnDef="TipoCaso">
          <th mat-header-cell *matHeaderCellDef>Tipo Caso</th>
          <td mat-cell *matCellDef="let element">{{ element.tipoCaso }}</td>
        </ng-container>

        <ng-container matColumnDef="Estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="warn"
              [routerLink]="['ediciones', element.idTipoCaso]"
            >
              Actualizar
            </button>
          </td></ng-container
        >
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </body>
</html>
