<mat-toolbar color="primary">
  <mat-icon>menu</mat-icon>
  <button mat-button [matMenuTriggerFor]="menuComisaria">Comisarias</button>
  <button mat-button [matMenuTriggerFor]="menuTDenuncia">Denuncias</button>
</mat-toolbar>

<mat-menu #menuComisaria="matMenu">
  <button mat-menu-item routerLink="/Comisaria/insertar">Registrar ayuda</button>
  <button mat-menu-item routerLink="/Comisaria">Listar ayuda</button>
  <!--<button mat-menu-item routerLink="/personas/reporte">Buscar</button>-->
</mat-menu>

<mat-menu #menuTDenuncia="matMenu">
  <button mat-menu-item routerLink="/TipoCasos/nuevo">Registrar Tipo Casos</button>
  <button mat-menu-item routerLink="/TipoCasos">Listar Tipo Casos</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<router-outlet></router-outlet>
