<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
<body>
    <div class="container" style="text-align: center">
        <h2>Registro de Ubicacion Comisaria</h2>
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">

            <mat-form-field class="example-full-width" *ngIf="edicion">
                <mat-label>id Ubicacion </mat-label>
                <input matInput placeholder="codigo" formControlName=" idUbicacionC" />
            </mat-form-field>
            <br />

            <mat-form-field class="example-full-width">
                <mat-label>Departamento</mat-label>
                <input matInput placeholder="Departamento" formControlName="departamento" />
                <mat-error *ngIf="obtenerControlCampo('departamento')?.errors?.['required']">
                    El Departamento es obligatorio.
                </mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="example-full-width">
                <mat-label>Ciudad</mat-label>
                <input matInput placeholder="Ciudad" formControlName="ciudad" />
                <mat-error *ngIf="obtenerControlCampo('ciudad')?.errors?.['required']">
                    La Ciudad es obligatorio.
                </mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="example-full-width">
                <mat-label>Distrito</mat-label>
                <input matInput placeholder="Distrito" formControlName="distrito" />
                <mat-error *ngIf="obtenerControlCampo('distrito')?.errors?.['required']">
                    El Distrito es obligatorio.
                </mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="example-full-width">
                <mat-label>Direccion</mat-label>
                <input matInput placeholder="Direccion" formControlName="direccion" />
                <mat-error *ngIf="obtenerControlCampo('direccion')?.errors?.['required']">
                    La Direccion es obligatorio.
                </mat-error>
            </mat-form-field>
            <br />
            
            <button mat-raised-button color="primary">Aceptar</button>
            <button mat-raised-button color="warn" routerLink="/components/UbicacionC">
                Cancelar
            </button>
            <p>{{ mensaje }}</p>
        </form>
    </div>
</body>

</html>