<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loguin Policia</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registrese como policia</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Id. Policia</mat-label>
          <input matInput placeholder="Id" formControlName="idPolicia" />
          <mat-error
            *ngIf="obtenerControlCampo('idPolicia')?.errors?.['required']"
          >
            El id del policia es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Numero Placa</mat-label>
          <input
            matInput
            placeholder="Numero de placa"
            formControlName="numeroPlacaPolicia"
          />
          <mat-error
            *ngIf="obtenerControlCampo('numeroPlacaPolicia')?.errors?.['required']"
          >
            El nro. de placa es obligatoria.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Foto del Rostro</mat-label>
          <input
            matInput
            placeholder="Foto Rostro"
            formControlName="fotoRostroPolicia"
          />
          <mat-error
            *ngIf="obtenerControlCampo('fotoRostroPolicia')?.errors?.['required']"
          >
            La foto del rostro es obligatoria.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Foto Identificacion</mat-label>
          <input
            matInput
            placeholder="Foto Identificacion"
            formControlName="fotoIdentPolicia"
          />
          <mat-error
            *ngIf="obtenerControlCampo('fotoIdentPolicia')?.errors?.['required']"
          >
            La foto de identificación es obligatoria.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Rango</mat-label>
          <input matInput placeholder="rango" formControlName="rangoPolicia" />
          <mat-error
            *ngIf="obtenerControlCampo('rangoPolicia')?.errors?.['required']"
          >
            El rango es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/components/policia">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
